@media screen and (max-width: 992px) {
  .links {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top: 1px solid grey;
    margin-bottom: 10px;
  }
  .links a {
    align-self: flex-start;
  }
  .links button {
    width: 100%;
  }
  .links a span {
    display: block;
    color: #fff;
  }
  .links a:hover span {
    color: #cbfe1c;
  }
  .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
  }

  .navbar-toggler {
    text-align: start;
  }
  #home .container .row .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  #home .container .row .col-lg-6.header-img {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .slider
    .container
    #carouselExampleInterval
    .carousel-inner
    .carousel-item
    .row
    .inner.s-card {
    display: none !important;
  }

  
}

@media screen and (max-width: 767px) {
  .inner.s-card,
  .inner.t-card {
    display: none !important;
  }
  .copy-rights 
  {
 flex-direction: column;
 gap: 15px;
  }
}
